#testPaper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navPanel{
    display: flex;
    justify-items: center;
}

.navButton{
    text-align: center;
    width: 250px;
    height: 100px;
    margin: 80px 30px 35px;
    border-radius: 20px;
    color:#ffffff;

    font-size: 46px;
    line-height: 100px;
}

.setValues{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 10px;
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play_sound{
    border-radius: 12px;
    width: 750px;
    height: 35px;
    margin: 50px 0px 5px;
    background: #077640;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 33px;
}

#answer{
    border-radius: 12px;
    width: 750px;
    height: 255px;
    margin: 5px 0px;
    background: #1a3d55;
    color: white;
    font-size: 30px;
    border: 0px;
}

#right_answer{
    border-radius: 12px;
    width: 750px;
    height: 255px;
    margin: 0px 0px 5px;
    background: #1e430a;
    color: rgb(6, 140, 167);
    font-size: 30px;
    border: 0px;
    overflow: auto;
}

#submit{
    border-radius: 12px;
    width: 750px;
    height: 35px;
    margin: 5px 0px;
    background: #0c5a5e;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 33px;
}